@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.ttf");
}

@layer base {
  html {
    @apply font-Pretendard;
  }
  div {
    @apply font-Pretendard;
  }
  button {
    @apply font-Pretendard;
  }
  span {
    @apply font-Pretendard;
  }
  input {
    @apply font-Pretendard;
  }
}

@layer components {
  .bgColor-blue {
    @apply bg-primary-blue-100;
  }
  .bgColor-navy {
    @apply bg-primary-navy-100;
  }
  .bgColor-neutral {
    @apply bg-primary-neutral-100;
  }
  .bgColor-white {
    @apply bg-primary-neutral-white;
  }
  .bgColor-black {
    @apply bg-primary-neutral-black;
  }
  .bgColor-purple {
    @apply bg-secondary-purple-100;
  }
  .bgColor-black-alpha {
    @apply bg-primary-neutral-alpha20;
  }
  .borderColor {
    @apply border-primary-neutral-200;
  }
  .bgColor-positive {
    @apply bg-secondary-green-original;
  }

  .bgColor-low-emphasis {
    @apply bg-primary-navy-100;
  }

  .textColor-focus {
    @apply text-primary-blue-original;
  }
  .textColor-positive {
    @apply text-secondary-green-original;
  }
  .textColor-negative {
    @apply text-secondary-orange-original;
  }
  .textColor-danger {
    @apply text-secondary-red-original;
  }
  .textColor-title {
    @apply text-primary-navy-original;
  }
  .textColor-high-emphasis {
    @apply text-primary-neutral-black;
  }
  .textColor-mid-emphasis {
    @apply text-primary-neutral-700;
  }
  .textColor-low-emphasis {
    @apply text-primary-neutral-400;
  }
  .textColor-white {
    @apply text-primary-neutral-white;
  }
  .textColor-point-1 {
    @apply text-secondary-purple-original;
  }
  .textColor-point-2 {
    @apply text-secondary-pink-original;
  }

  .btnStyle-main-1 {
    @apply rounded-s bg-primary-blue-original text-primary-neutral-white;
  }

  .btnStyle-main-2 {
    @apply rounded-s border border-primary-neutral-200 bg-primary-neutral-white text-primary-neutral-700;
  }
  .btnStyle-main-3 {
    @apply rounded-s bg-primary-navy-original text-primary-neutral-white;
  }

  .btnSize-s {
    font-weight: 400;
    @apply text-paragraph-16 p-s;
  }
  .btnSize-m {
    font-weight: 700;
    @apply text-subTitle-18 p-m;
  }
  .btnSize-l {
    font-weight: 700;
    @apply text-subTitle-20 p-l;
  }
  .btnSize-xl {
    font-weight: 700;
    @apply text-title-24 p-xl;
  }
  .btnStyle-sideBar {
    font-weight: 400;
    @apply bg-primary-neutral-white text-subTitle-18 text-primary-neutral-black h-[56px];
  }

  .btnStyle-textOnly-s {
    font-weight: 400;
    @apply text-paragraph-16;
  }

  .btnStyle-textOnly-xs {
    font-weight: 400;
    @apply text-paragraph-12;
  }

  .badgeSize-s {
    font-weight: 400;
    @apply p-2xs rounded-s text-paragraph-12;
  }
  .badgeSize-m {
    font-weight: 400;
    @apply p-xs rounded-s text-paragraph-14;
  }
  .badgeSize-l {
    font-weight: 400;
    @apply p-s rounded-s text-paragraph-16;
  }

  .alert-positive {
    @apply bg-secondary-green-100 border border-secondary-green-600 text-secondary-green-600 p-m rounded-s;
  }

  .alert-negative {
    @apply bg-secondary-red-100 border border-secondary-red-original textColor-danger p-m rounded-s;
  }

  .alert-neutral {
    @apply bg-primary-navy-100 border border-primary-navy-original textColor-title p-m rounded-s;
  }

  .inputSize-l {
    @apply rounded-s text-paragraph-16 p-m;
  }

  .inputSize-s {
    @apply rounded-s text-paragraph-12 p-xs;
  }
}
