@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("/fonts/Pretendard-Regular.ttf");
}

@layer base {
  html {
    @apply font-Pretendard;
  }
  div {
    @apply font-Pretendard;
  }
  button {
    @apply font-Pretendard;
  }
  span {
    @apply font-Pretendard;
  }
}

@layer base {
  button[aria-current="page"] {
    @apply bg-primary-navy-600 text-primary-neutral-white;
  }
}

@layer components {
  .bgColor-blue {
    @apply bg-primary-blue-100;
  }
  .bgColor-navy {
    @apply bg-primary-navy-100;
  }
  .bgColor-neutral {
    @apply bg-primary-neutral-100;
  }
  .bgColor-white {
    @apply bg-primary-neutral-white;
  }
  .bgColor-black-alpha {
    @apply bg-primary-neutral-alpha20;
  }
  .borderColor {
    @apply border-primary-neutral-200;
  }

  .textColor-focus {
    @apply text-primary-blue-original;
  }
  .textColor-positive {
    @apply text-secondary-green-original;
  }
  .textColor-negative {
    @apply text-secondary-orange-original;
  }
  .textColor-danger {
    @apply text-danger-red;
  }
  .textColor-title {
    @apply text-primary-navy-original;
  }
  .textColor-mid-emphasis {
    @apply text-primary-neutral-600;
  }
  .textColor-low-emphasis {
    @apply text-primary-neutral-300;
  }
  .textColor-white {
    @apply text-primary-neutral-white;
  }
  .textColor-black {
    @apply text-primary-neutral-black;
  }

  .btnStyle-main-1 {
    @apply rounded-s bg-primary-blue-original text-primary-neutral-white;
  }

  .btnStyle-main-2 {
    @apply rounded-s border border-primary-neutral-200 bg-primary-neutral-white text-primary-neutral-700;
  }
  .btnStyle-main-3 {
    @apply rounded-s bg-primary-navy-original text-primary-neutral-white;
  }

  .btnSize-s {
    font-weight: 400;
    @apply text-paragraph-16 p-s;
  }
  .btnSize-m {
    font-weight: 700;
    @apply text-subTitle-18 p-m;
  }
  .btnSize-l {
    font-weight: 700;
    @apply text-subTitle-20 p-l;
  }
  .btnSize-xl {
    font-weight: 700;
    @apply text-title-24 p-xl;
  }
  .btnStyle-sideBar {
    font-weight: 400;
    @apply bg-primary-neutral-white text-subTitle-18 text-primary-neutral-black h-[56px];
  }

  .btnStyle-textOnly {
    font-weight: 400;
    @apply text-paragraph-16 text-primary-neutral-700;
  }

  .badgeSize-s {
    font-weight: 400;
    @apply p-2xs rounded-s text-paragraph-12;
  }
  .badgeSize-m {
    font-weight: 400;
    @apply p-xs rounded-s text-paragraph-14;
  }
  .badgeSize-l {
    font-weight: 400;
    @apply p-s rounded-s text-paragraph-16;
  }
}
